*.o
Makefile
*.app
*.swp
*.swo
*.moc
*~
moc_*.cpp
qrc_*.cpp

# Executables
/gpio_in
/gpio_out
/gpio_export
/gpio_unexport
/select_sticker
/chibitronics-jig

# Output directory
build*

# Windows thumbnail database
Thumbs.db

# Qt local files
*.pro.user
*.autosave
