[Unit]
Description=Chibitronics Tester

[Service]
User=pi
Environment=PATH=/opt/openocd/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/local/games:/usr/games
ExecStart=/home/pi/tester/app
WorkingDirectory=/home/pi/tester/
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
